{% extends 'base.html' %}

{% block extra_headers %}

{% endblock %}

{% block content %}
<h1>404 Page Not Found</h1>
<p>The page you are looking for does not exist. If you believe that something should be here, please call the webmaster.</p>
{% endblock %}