<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />

<link rel="stylesheet" href="{{ CSS_ROOT }}main.css?i=12" />

<title>{{ website_title }} - {% block pagetitle %}Welcome{% endblock %}</title>

{{ GENERATOR_META|raw }}
    
    {% block extra_headers %}
    {% endblock %}

<script type="text/javascript">
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40089090-2', 'nehasilpark.org');
  ga('send', 'pageview');

</script>

</head>
<body>

<div class="container">

<div class="header"><img src="{{ STATIC_ROOT }}images/layout_01.jpg" width="1024" height="196" /></div>

<div class="nav_spacer"></div>

<div class="nav">
<ul>
	<li><a href="{{ URL_ROOT }}">Home</a></li>
	<li><a href="{{ URL_ROOT }}page/2/">Events</a></li>
  <li><a href="{{ URL_ROOT }}page/7/">Past Events</a></li>
	<li><a href="{{ URL_ROOT }}page/3/">Heroes</a></li>
	<li><a href="{{ URL_ROOT }}gallery/0/">Vision</a></li>
  <li><a href="{{ URL_ROOT }}gallery/1/">Photos</a></li>
	<li><a href="{{ URL_ROOT }}contact/">Contact</a></li>
</ul>
</div>

<div class="content">
    {% block content %}
    content goes here
    {% endblock %}
</div>

<div class="footer">Site Donated by <a href="http://falsealarmsoftware.com" target="_blank">falsealarmsoftware.com</a></div>

</div>
</body>
</html>
