@font-face {
    font-family: 'abraham_lincolnregular';
    src: url('abrahamlincoln-webfont.eot');
    src: url('abrahamlincoln-webfont.eot?#iefix') format('embedded-opentype'),
         url('abrahamlincoln-webfont.woff') format('woff'),
         url('abrahamlincoln-webfont.ttf') format('truetype'),
         url('abrahamlincoln-webfont.svg#abraham_lincolnregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

p
{
	margin: 0px 0px 5px 0px;
	padding: 0px 0px 5px 0px;
}

table p
{
	margin: 0px;
	padding: 0px;
}

h1, h2, h3, h4, h5, h6
{
	margin-top: 0px;
}

@charset "utf-8";
/* CSS Document */

body{   
    font-family:Arial, Helvetica, sans-serif;
    margin-top:0px;
    margin-bottom:0px;
}


img, a{
    border:0px;
    
}

.container{
    width:1024px;
    height:auto;
    min-height:768px; !important 
    
    background-color:#FFF;
    
    margin-left:auto;
    margin-right:auto;
    
    -webkit-box-shadow: 0px 0px 12px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 12px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 12px rgba(50, 50, 50, 0.75);

}


.header{
    width:1024px
    height:196px;
}

.nav_spacer{
    width:448px;
    height:49px;
    float:left;
    
}

.nav{
    text-align:right;
    float: left;
	font-size: 26px;
    font-family: 'abraham_lincolnregular';
    position: relative;
    top: -2px;
    box-shadow: 3px 3px 4px #8A8A8A;
    background-color: #658090;
    border-radius: 0 0 10px 10px;
    behavior: url(/PIE.htc);
}

.nav ul, .nav ul li {
    list-style: none;
}

.nav ul {
	padding: 0 5px 0 5px;
	margin: 0;
}

.nav ul li {
	float: left;
}

.nav ul li a {
	display: block;
	padding: 5px 5px 5px 5px;
	color: white;
	text-decoration: none;
}

.nav ul li a:hover {
	color: #3e3d3b;
}

.content{
    clear:both;
    min-height:500px;
    padding:15px;
    
}
.footer{
    clear:both; 
    text-align:center;
}